@use "../utils" as *;

.header {
  background: $backgroundBody;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;

  &__inner {
    position: relative;
    min-height: rem(70);
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 3rem;
  }

  &__logo {
    position: relative;
    z-index: 7;
    width: rem(84);
    img {
      aspect-ratio: 84/28;
      object-fit: contain;
      max-width: 100%;
    }
    @include hover {
      transform: scale(1.05);
    }
  }

  &__action {
    position: relative;
    z-index: 5;
    display: none;
    @include mobile {
      display: block;
    }
  }
}

.menu {
  &__body {
    @include mobile {
      position: absolute;
      padding: 6rem 2rem 1rem;
      z-index: 3;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100vh;
      overflow-y: auto;
      background: $backgroundGradient;
      transition-duration: 0.3s;
      &:before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        height: rem(70);
        width: 100%;
        z-index: 4;
        background: $backgroundBody;
      }
    }
    .menu-open & {
      left: 0;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 3rem;
    flex-wrap: wrap;

    @include mobile {
      flex-direction: column;
      justify-content: center;
      row-gap: rem(25);
    }
  }

  &__link {
    font-size: 1rem;
    transition-duration: 0.3s;
    @include hover {
      transform: translateY(3px);
      color: #f86cf8;
    }
    @include mobile {
      color: $colorDark;
      font-size: rem(35);
      font-weight: 700;
    }
  }
}

.icon-menu {
  border: none;
  position: relative;
  width: 2rem;
  height: 1rem;
  span,
  &::before,
  &::after {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    height: 2px;
    background: $colorLight;
  }

  & span {
    top: calc(50% - 1px);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  .menu-open & {
    span {
      width: 0;
    }
    &::before {
      top: calc(50% - 1px);
      transform: rotate(-45deg);
    }
    &::after {
      top: calc(50% - 1px);
      transform: rotate(45deg);
    }
  }
}
