@use "../utils" as *;

.hero {
  position: relative;
  padding-top: rem(160);
  padding-bottom: fluid(80, 30);

  @include mobile {
    .hero__achievement-item {
      @include show;
      position: absolute;
      z-index: 2;
      width: 30%;
      height: 10%;
      &:nth-child(1) {
        top: 17%;
        left: 0;
      }
      &:nth-child(2) {
        top: 0;
        left: 21%;
      }
      &:nth-child(3) {
        top: 11%;
        left: 75%;
      }
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile {
      flex-direction: column-reverse;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: rem(40);
    max-width: rem(560);
  }

  &__header {
    position: relative;
    z-index: 3;
    &__title {
      span {
        @include fluid-text(55, 45);
      }
    }

    &__description {
      max-width: rem(400);
    }

    @include mobile {
      text-align: center;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: rem(16);
    @include mobile {
      align-self: center;
    }
  }

  &__achievement {
    &-list {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: rem(68);
    }
    @include mobile {
      @include hide
    }
  }

  &__image {
    position: relative;
    aspect-ratio: 1;
    object-fit: cover;
    max-width: rem(550);

    &::before {
      content: '';
      position: absolute;
      top: 22%;
      left: 0;
      width: rem(64);
      height: rem(73);
      background-image: url("/images/hero/vector.svg");
      @include mobile {
        display: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 80%;
      left: 0;
      width: 100%;
      height: 50%;
      filter: blur(50px);
      background-color: #000;
      z-index: 1;
    }
    @include mobile {
      max-width: rem(260);
    }
  }
}

.item-achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(8);
  flex-shrink: 0;
  &__value {
    font-family: $secondFamily;
    font-size: rem(24);
    font-weight: 500;
  }
  &__text {
    font-size: rem(18);
  }

  @include mobile {
    row-gap: rem(1);
    &__value {
      font-size: rem(18);
      font-weight: 400;
    }
    &__text {
      font-size: rem(16);
    }
  }
}
