@use "utils/variables" as *;
@use "utils/functions" as *;
@use "utils/mixins" as *;
@use "utils/media" as *;

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $backgroundGradient;
  border-radius: rem(5);
  padding: rem(12) rem(14);
  line-height: 1.5;
  color: $colorLight;
  font-weight: 500;
  @include fluid-text(20, 16);
  text-decoration: none;
  border: none;
  text-wrap: nowrap;
  transition-duration: 0.4s;

  &--big {
    max-width: 10.8rem;
    width: 100%;
  }

  &--transparent {
    position: relative;
    z-index: 1;
    border: none;
    background: $colorDark;
    padding: rem(10) rem(8);
    border-radius: rem(5);
    &::before {
      content: "";
      position: absolute;
      top: rem(-2);
      left: rem(-2);
      right: rem(-2);
      bottom: rem(-2);
      background: $backgroundGradient;
      border-radius: rem(5);
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $colorDark;
      border-radius: rem(5);
      z-index: -1;
    }
  }

  @include hover {
    transform: translateY(3px);
    opacity: 0.7;
  }
}

.gradient-text {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background: $backgroundTextGradient;
  background-clip: text;
  font-weight: 700;
  text-decoration-skip-ink: none;
  -webkit-text-fill-color: transparent;
}

.image-shadow {
  filter: blur(200px);
  background: #000;
}

.header-container {
  display: grid;
  row-gap: rem(16);
}

.title-blur {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
}
