@use "variables" as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: $background-gradient;
  border-radius: 0.3rem;
  padding: 0.75rem 0.87rem;
  line-height: 1.5;
  color: $color-light;
  font-weight: 500;
  font-size: 1.25rem;
  text-decoration: none;
  border: none;
  transition-duration: 0.4s;

  &--big {
    max-width: 10.8rem;
    width: 100%;
  }

  &--transparent {
    position: relative;
    z-index: 1;
    border: none;
    background: $color-dark;
    padding: 0.62rem 0.62rem;
    border-radius: 0.3rem;
    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      background: $background-gradient;
      border-radius: 0.3rem;
      z-index: -1;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $color-dark;
      border-radius: 0.3rem;
      z-index: -1;
    }
  }

  //@include hover {
  //  transform: translateY(3px);
  //  opacity: 0.7;
  //}
}

.gradient-text {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background: $background-text-gradient;
  background-clip: text;
  font-weight: 700;

  text-decoration-skip-ink: none;
  -webkit-text-fill-color: transparent;
}

.image-shadow {
  filter: blur(200px);
  background: #000;
}

.header-container {
  display: grid;
  row-gap: 1rem;
}
