@use "utils/variables" as *;
@use "utils/functions" as *;
@use "utils/mixins" as *;
@use "utils/media" as *;

body {
  font-family: $fontFamily;
  background: $backgroundBody;
  color: $colorLight;
  font-weight: 400;
  font-size: rem(18);
  line-height: 1.67;
  height: 100%;
  &.menu-open {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: clip;
  min-height: 100%;
}

.wrapper > main {
  flex-grow: 1;
}

.container {
  max-width: calc($containerWidth + $containerPaddingX * 2);
  margin: 0 auto;
  padding: 0 $containerPaddingX;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondFamily;
  font-weight: 600;
  line-height: 1.5;
}

h1 {
  @include fluid-text(45, 32);
}

h2 {
  @include fluid-text(35, 23);
}

h3 {
  font-size: rem(20);
}

p {
  color: $colorText;
}

@keyframes Fade-in {
  from {
    translate: 10vw;

  }
}

h1, h2 {
  animation-name: Fade-in;
  animation-fill-mode: both;
  animation-timing-function: linear;

  view-timeline-name: --fade-in-section;
  animation-timeline: --fade-in-section;
  animation-reng: 30% 90%;
}