$fontFamily: 'Poppins', sans-serif;
$secondFamily: 'Orbitron', sans-serif;

$containerPaddingX: 1rem;
$sectionPaddingY: clamp(1.25rem, 0.45rem + 3.41vw, 3.438rem);

$minViewportWidth: 375;
$maxViewportWidth: 1440;
$containerWidth: 75.6rem;

$colorLight: #ffffff;
$colorDark: #090823;
$colorText: rgba(255, 255, 255, 0.8);
$linerGradient: linear-gradient(158deg, rgba(209, 14, 209, 0.64) 0%, #10a3da 100%);
$backgroundGradient: linear-gradient(158deg, #d10ed1 0%, #10a3da 100%);
$backgroundTextGradient: linear-gradient(158deg, #f86cf8 0%, #64cef5 100%);
$backgroundBody: linear-gradient(180deg, #010208 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 36.21%, #010101 100%);